
.create-presentation-header {
    background-color: white;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid rgb(219, 217, 217);
    margin-bottom: 1em;
}

.seperating-line {
    width: 1px;
    height: 15px;
    background-color: rgb(175, 173, 173);
    margin: auto;
}

.create-presentation-header .left-section {
    display: flex;
    gap: 1.3em;
}

.create-presentation-header .left-section .back-icon-container {
    display: flex;
    align-items: center;
}

.create-presentation-header .left-section .presentation-details .presentation-name {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.create-presentation-header .left-section .presentation-details .project-details {
    font-size: 0.7rem;
    color: gray;
}

.create-presentation-header .left-section .settings-icon-container {
    background-color: rgb(235, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.7em;
}

.create-presentation-header .middle-section {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.create-presentation-header .middle-section .tab {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid darkviolet;
    font-size: 0.9em;
    font-weight: 500;
}


.create-presentation-header .right-section {
    display: flex;
    gap: 0.8em;
}

.create-presentation-header .right-section .share-presentation-button {
    background-color: rgb(235, 232, 232);
    padding: 0.7em 1.7em;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10em;
}

.create-presentation-header .right-section .present-presentation-button {
    background-color: rgb(87, 105, 231);
    color: white;
    padding: 0.7em 1.7em;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10em;
}

.create-presentation-header .right-section .preview-icon-container {
    background-color: rgb(235, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.7em;
}